*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bodyBg{
    
    background-image: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
    
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 50%;
}
button{
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    padding:5px 30px;
    border:1px solid #171717;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
    opacity: 0.9;
}
button:hover{
    font-weight: 600;
    border:3px solid #000000;
    opacity:1;
}